.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    border: 2px solid #ccc;
    width: 300px;
    max-width: 80%;
}

.popup-content {
    margin-bottom: 10px;
}

.popup-content-product {
    padding: 0;
}

.popup.hidden {
    display: none;
}

.popup .close-btn {
    background-color: #441015;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.close-btn-product {
    font-size: 2em;
    margin-bottom: 70px;
}

